<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>typedef</span> <span style='color:#800000; font-weight:bold; '>enum</span> <span style='color:#800080; '>{</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_GOTO</span>
    GOTO<span style='color:#808030; '>,</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_SKIP</span>
    SKIP<span style='color:#808030; '>,</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
    ADD<span style='color:#808030; '>,</span> END
<span style='color:#800080; '>}</span> t_code<span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>typedef</span> <span style='color:#800000; font-weight:bold; '>struct</span> <span style='color:#800080; '>{</span>
    t_code code<span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>int</span> arg<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span> t_instr<span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>int</span> reg <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>int</span> ctr <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>

t_instr prog<span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> <span style='color:#800080; '>{</span>
    <span style='color:#800080; '>{</span>ADD<span style='color:#808030; '>,</span><span style='color:#008c00; '>1</span><span style='color:#800080; '>}</span><span style='color:#808030; '>,</span> <span style='color:#800080; '>{</span>ADD<span style='color:#808030; '>,</span><span style='color:#008c00; '>3</span><span style='color:#800080; '>}</span><span style='color:#808030; '>,</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_SKIP</span>
    <span style='color:#800080; '>{</span>SKIP<span style='color:#808030; '>,</span><span style='color:#008c00; '>5</span><span style='color:#800080; '>}</span><span style='color:#808030; '>,</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_GOTO</span>
    <span style='color:#800080; '>{</span>GOTO<span style='color:#808030; '>,</span><span style='color:#008c00; '>1</span><span style='color:#800080; '>}</span><span style='color:#808030; '>,</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
    <span style='color:#800080; '>{</span>ADD<span style='color:#808030; '>,</span><span style='color:#008c00; '>2</span><span style='color:#800080; '>}</span><span style='color:#808030; '>,</span> <span style='color:#800080; '>{</span>END<span style='color:#808030; '>,</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>}</span><span style='color:#800080; '>}</span><span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>void</span> printState<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    printf<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>reg=</span><span style='color:#0f69ff; '>%d</span><span style='color:#0000e6; '> ctr=</span><span style='color:#0f69ff; '>%d</span><span style='color:#0f69ff; '>\n</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> reg<span style='color:#808030; '>,</span> ctr<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>

<span style='color:#800000; font-weight:bold; '>void</span> step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    t_instr i <span style='color:#808030; '>=</span> prog<span style='color:#808030; '>[</span>ctr<span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i<span style='color:#808030; '>.</span>code <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> ADD<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        reg <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> i<span style='color:#808030; '>.</span>arg<span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_SKIP</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i<span style='color:#808030; '>.</span>code <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> SKIP<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>reg <span style='color:#808030; '>></span> i<span style='color:#808030; '>.</span>arg<span style='color:#808030; '>)</span>
            ctr<span style='color:#808030; '>+</span><span style='color:#808030; '>+</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_GOTO</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i<span style='color:#808030; '>.</span>code <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> GOTO<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> GOTO_ABSOLUTE</span>
        ctr <span style='color:#808030; '>=</span> i<span style='color:#808030; '>.</span>arg<span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>elif</span><span style='color:#004a43; '> </span><span style='color:#004a43; '>defined</span><span style='color:#004a43; '> GOTO_RELATIVE</span>
        ctr <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> i<span style='color:#808030; '>.</span>arg<span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>return</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> HAS_GOTO</span>
    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i<span style='color:#808030; '>.</span>code <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> GOTO<span style='color:#808030; '>)</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
        ctr<span style='color:#808030; '>+</span><span style='color:#808030; '>+</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>

<span style='color:#800000; font-weight:bold; '>int</span> <span style='color:#400000; '>main</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    printState<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    printState<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> step<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    printState<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>
