<link rel="stylesheet" type="text/css" href="../style.css">

<pre>
<b>typedef enum</b> {<span class="dim1">GOTO,</span> ADD, END} t_code;

<b>typedef struct</b> {
    t_code code; <b>int</b> arg;
} t_instr;

int reg = 0;
int ctr = 0;

t_instr prog[] = {{ADD,1}, {ADD,3}, <span class="dim1">{GOTO,1},</span> {ADD,2}, {END,0}};

<b>void</b> printState() {
    printf("reg=%d ctr=%d\n", reg, ctr);
}

<b>void</b> step() {
    t_instr i = prog[ctr];
    <b>if</b> (i.code == ADD) {
        reg += i.arg;
    <span class="dim1">} <b>else if</b> (i.code == GOTO) {
    ctr <span class="dim3">+=</span> i.arg;</span>
    } <b>else</b> {
        return;
    }
    <span class="dim1"><b>if</b> (i.code != GOTO)</span>
        ctr++;
}

<b>int</b> main() {
    step(); step();
    printState();
    step(); step();
    printState();
    step(); step(); step();
    printState();
}
</pre>
