<pre style='color:#000000;background:#ffffff;'><span style='color:#800000; font-weight:bold; '>int</span> doThis<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    <span style='color:#696969; '>// omitted code that does something important</span>
    <span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#008c00; '>1</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>

<span style='color:#800000; font-weight:bold; '>int</span> <span style='color:#400000; '>main</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>int</span> x <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> DoThisFirst</span>
    x <span style='color:#808030; '>=</span> doThis<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> LogThis</span>
    printf<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>did this! </span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
    printf<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>x=</span><span style='color:#0f69ff; '>%d</span><span style='color:#0000e6; '>; </span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>x<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> <span style='color:#696969; '>// print the value of x</span>
    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>x<span style='color:#808030; '>=</span><span style='color:#808030; '>=</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        x <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800080; '>{</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> DoThisLater</span>
        x <span style='color:#808030; '>=</span> doThis<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>ifdef</span><span style='color:#004a43; '> LogThis</span>
        printf<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>did this! </span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
<span style='color:#004a43; '>#</span><span style='color:#004a43; '>endif</span>
    <span style='color:#800080; '>}</span>
    printf<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>x=</span><span style='color:#0f69ff; '>%d</span><span style='color:#0000e6; '>; </span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>x<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> <span style='color:#696969; '>// print the value of x</span>
    <span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>
