<link rel="stylesheet" type="text/css" href="../style.css">

<pre>
<b>int</b> doThis() {
    <i>// omitted code that does something important</i>
    <b>return</b> 1;
}

<b>int</b> main() {
    <b>int</b> x = 0;
    printf("x=%d; ",x); <i>// print the value of x</i>
    <b>if</b> (x==1) {
        x = 0;
    } <b>else</b> {
        <span class="dim1">x = doThis();</span>
    }
    printf("x=%d; ",x); // print the value of x
    <b>return</b> 0;
}
