<link rel="stylesheet" type="text/css" href="../style.css">

<pre>
<b>int</b> doThat() {
    <i>// omitted code that does something important</i>
    <b>return</b> 0;
}

<b>int</b> main() {
    <b>int</b> y = 1;
    printf("y=%d; ",y); <i>// print the value of y</i>
    <b>if</b> (y==1) {
        <span class="dim1">y = doThat();
<span class="dim2">printf("did that! ");</span></span>
    } <b>else</b> {
        y = 1;
    }
    printf("y=%d; ",y); // print the value of y
    <b>return</b> 0;
}
