<link rel="stylesheet" type="text/css" href="../style.css">

<pre>
<b>typedef enum</b> {ADD, END} t_code;

<b>typedef struct</b> {
    t_code code; <b>int</b> arg;
} t_instr;

int reg = 0;
int ctr = 0;

t_instr prog[] = {{ADD,2}, {ADD,1}, {END,0}};

<b>void</b> printState() {
    printf("reg=%d ctr=%d\n", reg, ctr);
}

<b>void</b> step() {
    t_instr i = prog[ctr];
    <b>if</b> (i.code == ADD) {
        reg += i.arg;
    } <b>else</b> {
        return;
    }
        ctr++;
}

<b>int</b> main() {
    step(); step();
    printState();
    step();
    printState();
    step(); step(); step();
    printState();
}
</pre>
