<link rel="stylesheet" type="text/css" href="../style.css">

<pre>
<b>typedef enum</b> {<span class="dim1">GOTO,</span> <span class="dim2">SKIP,</span> ADD, END} t_code;

<b>typedef struct</b> {
    t_code code; <b>int</b> arg;
} t_instr;

int reg = 0;
int ctr = 0;

t_instr prog[] = {{ADD,2}, <span class="dim2">{SKIP,3},</span> <span class="dim1">{GOTO,0},</span> {ADD,1}, {END,0}};

<b>void</b> printState() {
    printf("reg=%d ctr=%d\n", reg, ctr);
}

<b>void</b> step() {
    t_instr i = prog[ctr];
    <b>if</b> (i.code == ADD) {
        reg += i.arg;
    <span class="dim2">} <b>else if</b> (i.code == SKIP) {
    <b>if</b> (reg <span class="dim3">></span> i.arg)
        ctr++;</span>
    <span class="dim1">} <b>else if</b> (i.code == GOTO) {
    ctr = i.arg;</span>
    } <b>else</b> {
        return;
    }
    <span class="dim1"><b>if</b> (i.code != GOTO)</span>
        ctr++;
}

<b>int</b> main() {
    step(); step();
    printState();
    step();
    printState();
    step(); step(); step();
    printState();
}
</pre>
